<!-- Page Header -->
<style>
.box {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width: 800px;                 /* fixed width */
}
</style>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Searching for 
            <small>"{{searchWord}}"</small>
        </h1>
    </div>
</div>

<div class="row">

        <div ng-repeat="item in list">
        <h4><b><a ng-href="#!/{{item.Name}}/detail">{{ item.Name }}</a></b></h4>
        <div class="box">
        	{{item.Description}}
        </div>
        <br>
        <!-- <ul>
        	<li>Project Name: <b>{{ item.Name }}</b></li>
        	<ul>
        		<li><b>Description</b>: {{item.Description}}</li>
        		<div ng-if="item['Visa Wiki Link'] != null">
        			<li><a href="{{item['Visa Wiki Link']}}">Visa Wiki Link</a></li>
        		</div>
        	</ul>
        </ul> -->
		  
		</div>

</div>