<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Departments
            <small>Technology + Operations</small>
        </h1>
    </div>
</div>
<!-- /.row -->
<div ng-repeat="data in deps">
    <div ng-repeat="i in [0,2, 4,6]">
    
<div class="row">

    <div class="list-group-item col-lg-6">
      <a ng-href="{{data[i].NextUrl}}">
        <div class="col-lg-4 logo">
            <img ng-src="{{data[i].Link}}" style="width:102px;height:89px;">
        </div>
        <div class="col-lg-8 dep-title">
           {{data[i].Name}}
        </div>
      </a>
    </div>
    <div class="list-group-item col-lg-6">
      <a ng-href="{{data[i+1].NextUrl}}">
        <div class="col-lg-4 logo">
            <img ng-src="{{data[i+1].Link}}" style="width:102px;height:89px;">
        </div>
        <div class="col-lg-8 dep-title">
            {{data[i+1].Name}}
        </div>
      </a>
    </div>

</div>
</div>

</div>
<!-- Projects Row 
<h1 ng-repeat="x in deps">
<h1 ng-repeat="x in deps"
{{x[0]}}</h1>

<div ng-repeat="data in deps">
    <div ng-repeat="i in [0, 1,2,3 ]">  
 <div class="row">
    <div class="col-md-6 portfolio-item">
        <h3>
            <a href="#">{{data[i].Name}}</a>
        </h3>
        <p>{{data[i].Description}}</p>
          <a href="#">
            <img class="img-responsive" ng-src="{{data[i].Description}} alt="">
        </a>
        
    </div>
    
 </div>
</div>
 </div> 
 -->


<hr>

<!-- Pagination -->
<!-- <div class="row text-center">
	<div class="col-lg-12">
	    <ul class="pagination">
	        <li>
	            <a href="#">&laquo;</a>
	        </li>
	        <li class="active">
	            <a href="#">1</a>
	        </li>
	        <li>
	            <a href="#">2</a>
	        </li>
	        <li>
	            <a href="#">3</a>
	        </li>
	        <li>
	            <a href="#">4</a>
	        </li>
	        <li>
	            <a href="#">5</a>
	        </li>
	        <li>
	            <a href="#">&raquo;</a>
	        </li>
	    </ul>
	</div>
</div> -->