/* app css stylesheet */
html {
    overflow-y: scroll;
}

body {
	padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.page-header
{
	margin-top: 10px;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

DIV.ctn {
    min-height: 150px;
    min-width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle }

.logo {
  width: 102px;
  height: 92px;
}

.dep-title {
  height:89px;
  font-size:25px;
  padding-left: 30px;
  padding-top: 20px;
}
