<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Kafka
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Page Header -->

<div>
    <p class="bold">Team member</p> : <a href="">Amrit Praharaj</a>, <a href="">Liang Gao</a>
</div>
<div>
    <p class="bold">Department</p> : <a href="">Data Product Development</a>
</div>
<div>
    <p class="bold">Wiki Link</p> : <a href="https://visawiki/pages/viewpage.action?spaceKey=LTAS&title=Kafka+Architecture+in+Non+Prod">https://visawiki/pages/viewpage.action?spaceKey=LTAS&title=Kafka+Architecture+in+Non+Prod</a>
</div>
<div>
    <p class="bold">Git</p> : N/A
</div>
<div>
    <p class="bold">Start Date</p> : April 14 2015
</div>
<div>
    <p class="bold">Manager</p> : Igor Paller
</div>
<div>
    <p class="bold">Keywords</p> : <a href="">kafka</a>,<a href="">producer</a>,<a href="">consumer</a>,<a href="">broker</a>,<a href="">zookeeper</a>"
</div>

<hr>

