<!-- Page Header -->

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{deps.Name}}
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Page Header -->

<div>
    <strong>Team member</strong> : <a href="">Amrit Praharaj</a>, <a href="">Liang Gao</a>
</div>
<div>
    <strong>Department</strong> : <a href="">{{deps.Department}}</a>
</div>
<div>
    <strong>Wiki Link</strong> : <a href="{{deps.VisaWikiLink}}">{{deps.VisaWikiLink}}</a>
</div>
<div>
    <strong>Git</strong> : {{deps.GithubLink}}
</div>
<div>
    <strong>Start Date</strong> : {{deps.StartDate}}
</div>
<div>
    <strong>Manager</strong> : <a href="">{{deps.Manager}}</a>
</div>
<div>
    <strong>Keywords</strong> : <a href="">kafka</a>,<a href="">producer</a>,<a href="">consumer</a>,<a href="">broker</a>,<a href="">zookeeper</a>
</div>
<div style="height=50"></div>
<h2>Summary</h2>
<div class="panel panel-default">
  <div class="panel-body">
    {{deps.Description}}
  </div>
</div>
<hr>

